/* General Reset */
* {
    margin: 0;
    padding: 0;
    color: #ddd;
    box-sizing: border-box;
    /* font-family: "Helvetica Neue", Arial, sans-serif;     */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #161616;
    background-image: radial-gradient(#4f341430, #30105830, #2c425530);
    /* Additional styles for body text */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Example usage for headings */
h1,
h2,
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Additional styles for headings */
}

p {
    font-family: "Helvetica Neue", Arial, sans-serif;
}

textarea{
    font-family: monospace;
}

/* the full bar in replacement of hr tag.*/
.full-bar {
    width: 100%;
    height: 1px;
    background-color: #f0f0f060;
    border: 1px solid #ffffff30;
    border-radius: 10px;
    box-shadow: 0px 0px 3px gray;
}

.full-bar.some-margin {
    margin: 20px 10px;
}

/* Main Content Area Styles */
main {
    display: flex;
    padding: 20px;
    flex-grow: 1;
}

.page-content {
    display: flex;
    flex: 2;
    flex-direction: column;
    min-height: calc(100vh - 100px);
    text-align: center;
}

.contact-heading {
    padding: 0px;
    margin: 10px;
    font-size: 23px;
}

/* Responsive Design */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
}

@media (max-width: 270px) {
    body {
        display: none;
    }
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:link {
    color: #004fff;
}

/* unvisited link */
a:visited {
    color: #0fafff;
}

/* visited link */
a:hover {
    color: #ffcc00;
}

/* mouse over link */
a:active {
    color: #004fff;
}

/* selected link */