main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-content{
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.page-content h1 {
    font-size: 2.7rem;
    margin-bottom: 10px;
}
.page-content p {
    max-width: 700px;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
}

.quick-links{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cta-button {
    width: auto;
    height: auto;
    background-color: #ffffff10;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.cta-button:hover {
    background-color: #ffffff40;
    box-shadow: inset 0px 0px 3px #ffffff;
}

.explore-products{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: start;
}

.product{
    min-height: 200px;
    max-width: 300px;
    background-color: #ffffff10;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10px;
}

.product:hover{
    box-shadow: 0px 0px 6px;
}

.top{
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.title{
    font-size: 20px;
}
.description{
    padding: 10px;
}

@media (max-width: 850px){
    .explore-products{
        width: 100%;
    }
}
@media (max-width: 670px){
    .product{
        width: 100%;
        max-width: 100%;
        min-height: auto;
    }
    .page-content h1 {
        margin: 0px;
    }
}